if TARGET_IOT_GATE_IMX8

config SYS_BOARD
	default "iot-gate-imx8"

config SYS_VENDOR
	default "compulab"

config SYS_CONFIG_NAME
	default "iot-gate-imx8"

config DEFAULT_DTB
	string "U-Boot Default Device Tree File"
	depends on TARGET_IOT_GATE_IMX8
	default "sb-iotgimx8-can.dtb"

endif
