CONFIG_TARGET_IOT_GATE_IMX8=y
CONFIG_LOCALVERSION="-iot-gate-imx8-1.0"
CONFIG_DEFAULT_FDT_FILE="sb-iotgimx8-can.dtb"
CONFIG_DEFAULT_DEVICE_TREE="iot-gate-imx8"
CONFIG_DM_PCA953X=n
# CONFIG_DM_RESET is not set
# CONFIG_SYSRESET is not set
# CONFIG_SYSRESET_PSCI is not set
CONFIG_DM_VIDEO=n
CONFIG_SYS_WHITE_ON_BLACK=n
CONFIG_VIDEO_LCD_STARTEK_ILI9881C=n
CONFIG_VIDEO_IMX_SEC_DSI=n
CONFIG_LED=n
CONFIG_LED_GPIO=n
CONFIG_CMD_PCA953X=y
CONFIG_DM_PCA953X=y
CONFIG_SYS_PROMPT="IOT-GATE-iMX8 => "
CONFIG_USB_ETHER_SMSC95XX=y
